@keyframes shwoop {
  0% {
    top: 75vh;
  }
  70% {
    top: -5vh;
  }
  80% {
    top: 5vh;
  }
  90% {
    top: -2vh;
  }
  100% {
    top: 0;
  }
}

@keyframes shwoopFade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

@keyframes rotato {
  0% {
    bottom: 10vh;
    transform: rotateX(0deg);
    opacity: 1;
  }
  100% {
    bottom: 20vh;
    transform: rotateX(90deg);
    opacity: 0;
  }
}

@keyframes mypeopleneedme {
  0% {
    opacity: 1;
    bottom: 1vh;
  }
  50% {
    opacity: 1;
    bottom: 5vh;
  }
  100% {
    opacity: 0;
    bottom: 10vh;
  }
}
