#splash input {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-text);
  padding: 5px;
}

#splash .submit {
  background-color: var(--bg-color-main);
  font-size: 10vmin;
  border: none;
  padding-bottom: 10px;

  margin-top: 5vmin;
  margin-left: 1.75vmin;
}

#splash .submit .fa-arrow-right:hover {
  color: var(--text-color-pressed);
}

#splash .submit .fa-arrow-right {
  vertical-align: middle;
}

#splash #fail {
  display: none;
  width: 100%;
  text-align: center;
  color: #ee1111;
}
